<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>169023738018-4mefolseogi5u5p0ir8eu5qr5sd63vgf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.169023738018-4mefolseogi5u5p0ir8eu5qr5sd63vgf</string>
	<key>API_KEY</key>
	<string>AIzaSyDAd1bDhMQ9fFSuWjX3qR0KAqqgFdjjY5w</string>
	<key>GCM_SENDER_ID</key>
	<string>169023738018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abkubatt.Twitter-</string>
	<key>PROJECT_ID</key>
	<string>twitter-c7b64</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-c7b64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169023738018:ios:427245a5f1b986b3e747fb</string>
</dict>
</plist>